.button{
    /*
    -fx-text-fill: rgb(49, 89, 23);
    -fx-padding: 3 6 6 6;
    -fx-background-color:  rgb(49, 89, 23);
     */
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: rgb(0, 89, 23);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-pref-width: 120px;

    /* ACTS AS MARGIN
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
     */
}

.button:hover {
    -fx-background-color: blue;
}
.gameButton{
    -fx-background-color: #FEF285;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: rgb(0, 89, 23);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-font-weight: bold;
}

.gameButton:hover{
    -fx-background-color: darkgray;
}

.menuButton{
    -fx-background-color: #85BB65;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: rgb(0, 89, 23);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-font-weight: bold;
}

.menuButton:hover{
    -fx-background-color: darkslategrey;
}

.scoreBoard{
    -fx-background-color: #FF4848;
    -fx-font-size: 14px;
}

.scoreBoard:hover{
    -fx-background-color: #FEF285;
}

.alertButton{
    -fx-background-color: antiquewhite;
}

.alertButton:hover{
    -fx-background-color: grey;
}

.tokenButton{
    -fx-background-color: #9FFA09;
}

.tokenButton:hover{
    -fx-background-color: forestgreen;
}

.abc {
    -fx-alignment: center-right;
    -fx-font-size: 32px;
    -fx-background-color: brown;
}


.mainMenu {
    -fx-background-image: url("/img/MainMenu.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-padding: 50px;
}

.newGameMenu {
    -fx-background-color: rgb(59, 171, 195);
}



.moneylabel {
    -fx-alignment: center;
    -fx-font-size: 32px;
    -fx-border-color:black;
    -fx-border-style: solid;
    -fx-background-color: #85BB65;
    -fx-border-width: 2px;
}

.namelabel {
    -fx-alignment: center;
    -fx-font-size: 28px;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 1 0 0 0;
    -fx-pref-height: 45px;
    -fx-pref-width: 120px;
}

.assetsButton {
    -fx-background-color: #9BE9EE;
    -fx-border-color:black;
    -fx-border-style: solid;
    -fx-border-width: 2px;
}

.forfeitButton{
    -fx-background-color: #b33a3a;
    -fx-border-color:black;
    -fx-border-style: solid;
    -fx-border-width: 2px;
}

.imageView-style {
    -fx-blend-mode: multiply;
}

.vbox-style {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 0 2 0 0;
    -fx-pref-height: 148;
}

.player-pane {
    -fx-background-color: FF9393;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-max-height: 150px;
    -fx-max-width: 500px;
}

.credits-pane {
    -fx-background-color: #3BABC3;
}

.credits-label {
    -fx-alignment: center;
    -fx-font-size: 48px;
    -fx-pref-width: 600px;
}

.back-button-style {
    -fx-background-color: #FEF285;
    -fx-border-color:black;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-font-size: 28;
    -fx-border-radius: 100;
    -fx-background-radius: 100;
    -fx-font-weight: bold;
}

.playerBox {
    -fx-background-color: white;
    -fx-min-width: 600px;
    -fx-min-height: 50px;
    -fx-max-width: 600px;
    -fx-spacing: 150px;
    -fx-font-size: 48px;
    -fx-border-style: solid;
    -fx-border-width: 3px;
}

.loadTable {
    -fx-background-color: E9E9E9;
}
.table-row-cell:empty {
    -fx-background-color: transparent;
}

.table-column{
    -fx-alignment: center;
}

.alertDialogue{
    -fx-border-width: 5;
    -fx-border-style: solid;
    -fx-alignment: center;
    -fx-padding: 0 8 0 0;
}

#playerList {
    -fx-spacing: 75px;
}

.playerRemoveButton {
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-font-size: 18px;
    -fx-background-color: silver;
}

#newGameBackButtonPane {
    -fx-padding: 50px;
    -fx-border-style: solid;
    -fx-border-color: red;
    -fx-border-width: 2px 2px 0 0;
}

#newGameStartButtonPane {

    -fx-padding: 50px;
    -fx-border-style: solid;
    -fx-border-color: red;
    -fx-border-width: 2px 0 0 2px;
}

#newGamePlayersSection {
    -fx-padding: 100px 150px 0 150px;
    -fx-spacing: 50px;
    -fx-border-style: solid;
    -fx-border-color: red;
    -fx-border-width: 0 2px 0 0;
}

.newGameMenuLabel {
    -fx-font-size: 36px;
}

#newGameMapSection {
    -fx-padding: 100px 0 0 150px;
}

.titleCard {
    -fx-pref-height: 200px;
    -fx-pref-width: 150px;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-background-color: white;
}

.titleCardColorPane {
    -fx-min-height: 25px;
    -fx-max-height: 25px;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 2px;
}

#borderRed {
    -fx-max-height: 1080px;
    -fx-min-height: 1080px;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: red;
    -fx-min-width: 1px;
    -fx-max-width: 1px;
}